@charset "UTF-8";

/* Background Image */
.background-img {
	background-image: url("Images/Black Vignette.png"),
		url("Images/background.jpg");
	background-repeat: no-repeat;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1;
	height: 100%;
	width: 100%;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	transform: scale(1.1);
}

/* Topbar */
.topbar {
	margin-top: -1%;
	background-color: #000;
	position: absolute;
	height: 50px;
	width: 100%;
	z-index: 2;
	text-align: left;
	vertical-align: middle;
	padding-bottom: 3.5%;
	padding-left: 3%;
}

/* WeatherMeister */
h1 {
	font-family: Sav;
	font-size: 70px;
}

/* FONTS */

/* WeatherMeister */
@font-face {
	font-family: Sav;
	src: url("Fonts/17357674296594851838.woff");
}

/* Login */
@font-face {
	font-family: Reg;
	src: url("Fonts/Avenir Next/AvenirNext-Regular.ttf");
}
@font-face {
	font-family: Med;
	src: url("Fonts/Avenir Next/AvenirNext-Medium.ttf");
}

/* Search Bar */
@font-face {
	font-family: Ital;
	src: url("Fonts/Avenir Next/AvenirNext-UltraLightItalic.ttf");
}

/* Radio Buttons */
@font-face {
	font-family: UL;
	src: url("Fonts/Avenir Next/AvenirNext-UltraLight.ttf");
}


/* Login */
.logbutton {
	border: 0.5px solid white;
	background: orange;
	position: fixed;
	z-index: 6;
	font-size: 20px;
	cursor: pointer;
	font-family: Reg;
	width: 7.5%;
	height: 4%;
	left: 46%;
	top: 66%;
	border-color: #e7e7e7;
	border-radius: 25px;
	color: #fff;
}

.decision {
	position: absolute;
	top: 0%;
	left:77%;
	color: white;
	z-index: 2;
	word-spacing: 30px;
}

#login {
	font-size: 40px;
	font-family: UL;
}

#register {
	font-size: 40px;
	font-family: UL;
}


.keys {
	position:absolute;
	z-index:6;
	left: 45%;
	top: 20%;
	width: 10%;
	height: 200px; 
}
.username {
	left: 40%;
	top: 45%;
	border: gray;
	background: white;
	position: fixed;
	z-index: 6;
	font-size: 20px;
	font-family: Ital;
	width: 20%;
	height: 4%;
	border-color: #e7e7e7;
	color: black;
}

.password {
	left: 40%;
	top: 55%;
	border: gray;
	background: white;
	position: fixed;
	z-index: 6;
	font-size: 20px;
	font-family: Ital;
	width: 20%;
	height: 4%;
	border-color: #e7e7e7;
	color: black;
}

.square {
	left: 36%;
	top: 25%;
	border: gray;
	background: gray;
	position: fixed;
	z-index: 6;
	width: 27%;
	height: 50%;
	opacity: 0.8;
	border-color: gray;
	border-radius: 25px;
}

.usertext {
	position: absolute;
	top: 40%;
	left:41%;
	color: white;
	z-index: 6;
	font-size: 35px;
	font-family: UL;
}

.passtext{
	position: absolute;
	top: 50%;
	left:41%;
	color: white;
	z-index: 6;
	font-size: 35px;
	font-family: UL;
}

#ude {
	color: red;
	font-family: Ital;
	font-size: 25px;
	font-weight: bold;
	top: 60%;
	left:41%;
	position: absolute;
	z-index: 8;
}

#pde {
	color: red;
	font-family: Ital;
	font-size: 25px;
	font-weight: bold;
	top: 60%;
	left:41%;
	position: absolute;
	z-index: 8;
}

